.violet{
    border: 2px solid darkorchid;
    border-width: 10px;
    margin: 5px;
    padding: 5px;
    display: flex;
}
.formation{
    text-align: center;
    font-size: 70px;
    color: grey;

}
.buttton{
    margin-left: 700px;
    width: 150px;
    height: 50px;
    margin-top: 70px;
    margin-right: 100px;
    background-color: darkorchid;
    border: none;
    color: white;
    text-align: center;
}

.cod{
    margin-left: 30px;
}
.h1{
    margin: 5px;
    padding: 5px;
    font-size: 150px;
}








.rouge{
    border: 2px solid red;
    border-width: 10px;
    margin: 5px;
    padding: 5px;
    display: flex;
}

.butttonM{
    margin-left: 700px;
    width: 150px;
    height: 50px;
    margin-top: 70px;
    margin-right: 100px;
    background-color: red;
    border: none;
    color: white;
    text-align: center;
}




.mark{
    margin-left: 30px;
}
.h1{
    margin: 5px;
    padding: 5px;
    font-size: 150px;
}


.vert{
    border: 2px solid green;
    border-width: 10px;
    margin: 5px;
    padding: 5px;
    display: flex;
}

.butttonW{
    margin-left: 700px;
    width: 150px;
    height: 50px;
    margin-top: 70px;
    margin-right: 100px;
    background-color: green;
    border: none;
    color: white;
    text-align: center;
}

.mark{
    margin-left: 30px;
}
.h1{
    margin: 5px;
    padding: 5px;
    font-size: 150px;
}




.jaune{
    border: 2px solid yellow;
    border-width: 10px;
    margin: 5px;
    padding: 5px;
    display: flex;
}

.butttonJ{
    margin-left: 700px;
    width: 150px;
    height: 50px;
    margin-top: 70px;
    margin-right: 100px;
    background-color: yellow;
    border: none;
    color: white;
    text-align: center;
}

.aws{
    margin-left: 30px;
}
.h1{
    margin: 5px;
    padding: 5px;
    font-size: 150px;
}


.bleu{
    border: 2px solid blue;
    border-width: 10px;
    margin: 5px;
    padding: 5px;
    display: flex;
}

.butttonB{
    margin-left: 700px;
    width: 150px;
    height: 50px;
    margin-top: 70px;
    margin-right: 100px;
    background-color: blue;
    border: none;
    color: white;
    text-align: center;
}

.sa{
    margin-left: 30px;
}
.h1{
    margin: 5px;
    padding: 5px;
    font-size: 150px;
}









